@font-face {
    font-family:Helvetica-light;
    src: url(assets/fonts/Helvetica-Light.otf);
}
html {
    scroll-behavior: smooth;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica-light';
}
a{
    text-decoration: none;
    color: black;
}
a:visited {
    text-decoration: none;
  }

body::-webkit-scrollbar {
    display: none;
} 
header{
    position: sticky;
    display: flex;
    height: 90px;
    top: 0;
    background-color: white;
    width: 100%;
}
#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    opacity: 0.7;
    background-color: rgba(255,255,255,0.1);
    color: white; 
    cursor: pointer; 
    padding: 15px;
    font-size: 12px;
    border: 1px solid black;
    color: black;
  }
  
  #myBtn:hover {
    background-color: rgba(85,85,85,0.6); 
  }
   
.mob {
    display: none;
}

h1 {
    color: orangered;
}
p {
    font-family: Helvetica-light;
    font-size:24px;
    margin: 30px 60px;
}
h3{
    font-family: Helvetica-light;
    font-size:64px;
    margin: 0 0 100px 60px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: rgba(255, 250, 250, 0.4);
    padding-bottom: 60px;
    .logo{
        width: 100px;
        cursor: pointer;
        margin-left: 60px;
        margin-top: 60px;
      
    }
    .menu {
        overflow: hidden;
        margin-right: 60px;
        margin-top: 60px;
        ul{
            display: flex;
            list-style: none;
            li {
                padding: 0 15px;
                font-family: Helvetica-Light;
                font-size: 20px;
                cursor: pointer;
            }
            li:first-child:hover {
                background-color: #222;
                color: white;
            }
            li:nth-child(2):hover{
                background-color:#00ffff;
            }
            li:last-child:hover {
                background-color:red;
            }
        }
    }
}

img{
    max-width: 100%;
    height: 100%;
    display: flex;
    object-fit: contain;
}
.main {
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div{
        max-width: 690px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            width: 65%;
        }
    }
}
.subtitle {
    font-family: Tahoma;
    font-size: 64px;
}
section {
    display: flex;
    width: 100%;
    margin-top:1%;
    // height: 100vh;
    justify-content: space-between;
    // align-items: center;
}
.main {
    flex-direction: column;
    justify-content: center;
}
.first {
        align-items: center;
    div {
        width: 50%;
    }
}
// .blc5 {
//     .text_img {
//         width: 60%;
//     }
// }
.text_img {
    display: flex;
    flex-direction: column;
    width: 69%;
    margin-right: 1%;
    div{
        margin-top: auto;
    }
    img {
        margin-top: auto;
        height: auto;
    }
}


.center {
    justify-content: center;
    img {
        width: 90%;
    }
}

.hor {
    overflow: hidden;
}
.hor_2 {
    padding: 5% 0;
    div:first-child{
        margin-right: 25px;
    }
}
.npdng{
    padding: 0;
}
.flamingo {
    margin-right: 50px;
    margin-left: 25px;
}
.vert {
    .contacts {
        width: 75%;
        justify-content: center;
    }
}
.vert_2 {
    justify-content: space-around;
    div {
        display: flex;
        justify-content: center;
    }
    img{
        width: 80%;
        object-fit: initial;
    }
}
.vert_3 {
   .double {
        width: 75%;
        display: flex;
        justify-content: center;
        // margin: 0 50px 0 50px;
        img{
            height:auto;
            width: 45%;
        }
        img:last-child{
            margin-left: 20px;
        }
    }
    // div:last-child {
    //     width: 40%;
    // }
}

.vert_with_text {
    div:first-child {
        width: 75%;
        align-self: center;
    }
    // div:last-child {
    //     width:40%;
    // }
}
.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3{
        margin: 0 0 100px 0;
    }
    p {
        margin: 0;
    }
    .blk:hover {
        background-color: #222;
        color: white;
    }
    .blue:hover{
        background-color:#00ffff;
    }
    .red:hover {
        background-color:red;
    }
}


// Gallery page
article {
    // height: 100vh;
    margin-top: 10%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    overflow: hidden;
    width: 100%;
    padding: 60px;
}
.filterDiv {
    
    // float: left;
    // background-color: #2196F3;
    color: #ffffff;
    min-width: 320px;
    line-height: 100px;
    text-align: center;
    margin: 2px;
    display: none; 
}

.show {
    display: block;
    // display: flex;
}

/* Style the buttons */
.btn2 {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn2:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn2.active {
  background-color: black;
  color: white;
}

@media (max-width: 1280px) { 
    img {
        height: auto;
    }

    p{
        font-size: 16px;
    }
    .vert_3 .double {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .vert_3 .double img {
        height: auto;
        width: 60%;
    }    
    .vert_3 .double img:last-child {
        margin-left: 0px;
    }
 }

 @media (max-width: 1024px) { 
    h3 {
        font-size: 32px;
        margin: 0 0 30px 60px;
    }
    p {
        margin: 20px 60px;
    }

    .vert_with_text {
        flex-direction: column-reverse;
    }

    .text {
        padding: 25px 0;
    }
    .vert_3 .double img {
        height: auto;
        width: 85%;
    }
    .vert .contacts {
        width: 100%;
    }
    .contacts p {
        margin: 10px;
    }
    .flamingo {
        margin-right: 0px;
        margin-left: 0px;
    }
 }

 @media (max-width: 600px) { 

    nav {
        padding-bottom: 0;
        position:sticky;
    }
    .mob {
        display: flex;
        justify-content: space-between;;
        padding: 5px;
    }
    .mob_logo {
        max-width: 190px;
    }
    .openbtn {
        padding: 15px;
        font-family: Helvetica-light;
        margin-right: 10px;
        border: 2px solid;
    }

    // mob menu
.overlay {
      
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(255,255,255, 1); 
    overflow-x: hidden; 
    transition: 0.5s; 
  }
  
  .overlay-content {
    position: relative;
    top: 25%; 
    width: 100%; 
    text-align: center; 
    margin-top: 30px; 

    img {
        width: 50%;
        margin: auto;
        padding-bottom: 50px;
    }
  }
  
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: black;
    display: block; 
    transition: 0.3s; 
    font-family: Helvetica-light;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
    
    .main {
        height: 50vh;
    }

    .desk {
        display: none;
    }

    p {
        margin: 20px 30px;
    }
    .subtitle {
        font-size: 36px;
    }
    .first{
        flex-direction: column;
        div {
            width: 100%;
        }
    }
    .hor {
        display: none;
    }
    .mob_text {
        flex-direction: column;
        .text_img{
            width: 100%;
            margin-right: 0;
            padding:25px 0;
            img {
                display: none;
            }
        }
    }
    .vert_with_text div:first-child {
        width: 100%;
    }
    h3 {
        margin: 0 0 30px 30px;
    }
    .container {
    
        padding: 30px;
    }

    .vert_3 .double{
        display:none;
    }
    .contacts h3 {
        margin: 0 0 25px 0;
    }

    .cont {
        flex-direction: column;
    }
    .vert .contacts {
        padding: 25px 0;
    }
    .flamingo {
        display: none;
    }
 }
 @media (max-width: 320px) {
    .subtitle {
        font-size: 28px;
    }
 }